<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mörtfors</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body id="container">
    <header>
        <img class="img1" src="https://image.flaticon.com/icons/svg/814/814476.svg" alt="wordglobe">
        <img class="img2" src="https://image.flaticon.com/icons/svg/775/775497.svg" alt="think">
        <a href="http://localhost:8080/"><h1>Mörtfors Dagblad</h1></a>
    </header>
    <main>
        <h2>{{!pagename}}</h2>
        <h3>Skribent: {{!name}}</h3>
        <br>
            <p>{{!file}}</p>
            % i=0
            % for link in links:
                <img src={{link}} alt={{alt[i]}} style="width:150px">
                <p>{{imgText[i]}}</p> 
            % i=i+1
            % end
        <br>
        <h4>Kommentarer</h4>
        % for comment in comments:
            <li>{{!comment}}</li>
        % end



        <a href="http://localhost:8080/edit/{{pagename}}/">
            <button class="pos_hov">ADD</button>
        </a>
        <a href="http://localhost:8080/remove/{{pagename}}">
            <button class="neg_hov">DELETE</button>
        </a>
  
    </main>
    <footer>
        <div class="cred">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
</body>
</html>