<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body id="container">
    <header>
        <a href="http://localhost:8080/"><h1>World Knowledge</h1></a> 
    </header>
    <main>
        <iframe src="https://giphy.com/embed/9J7tdYltWyXIY" width="480" height="404" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <h1>Sorry, Seems like this subject doesn't exist yet!</h1>
        <p>Why not create it?</p>
        <a href="http://localhost:8080/edit/"><button class="pos_hov">Create subject</button></a>
        <a href="http://localhost:8080/"><button class="neg_hov">Return to start</button></a>
    </main>
    <footer>
        Made by F.M
    </footer>
</body>
</html>